<a href="/viewone/{{this._id}}" class="product-item-wrapper">
    <div class="product-img"><img src="{{this.image}}" alt="cloth"></div>
    <p class="product-name">{{this.name}}</p>
    <p class="product-name">{{this.type}}</p>
    <p class="product-name">{{this.brand}}</p>
    <p class="product-price">${{this.price}}</p>
    <a href="/delete/{{this._id}}">
        <button>Delete cloth</button>
    </a>
    <a href="/edit/{{this._id}}">
        <button>Edit cloth</button>
    </a>
</a>